
.card-dashboard{
    background-color: #f8f9fa;
    border-radius: 5px;
    width: 52%;
    /* margin: 20px; */
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.card-dashboard img {
  width: 80px;
  margin-bottom: 3px;
}


.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}


.dashtitle {
  text-align: center;
}

.containercal {
  width : 80%;
  text-align: center;
}


.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 700px;
  margin: auto;
}

.infodash {
    margin: auto;
    display: flex;
    width: 67%;
}

