.entete {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.entete h2 {
  margin-bottom: 20px;
  }

.homecategory {
justify-content: space-between;
display: flex;
margin: auto;
}
.coachinghome {
  transform: translate(211px, 74px);
}

.banner-home {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  // background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("background_arms.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choisissez {
    width: 450px;
    text-align: center;
    margin: auto;
    margin-top:24px
}

.acces {
   width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 24px;
}

.containerprincial {
  width: 100%;
  height: auto;
}

.image-home img{
  width: 450px;
  height: 300px;
}


@media(max-width: 1300px) {
  .containerprincial {
width : auto;  }
}


@media(max-width: 992px) {
  .containerprincial {
    width: auto;
  }
}

@media (min-width: 576px) {
  .containerprincial {
width: auto
  }
}

@media(max-width: 768px) {
  .containerprincial {
    width: 100%;
  }
}

@media(max-width: 1300px) {
  .container {
width : auto;  }
}


