.cards-profiles{
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: auto;
  margin-top: 32px;
  padding: 20px;
  width: 80%;

  img{
    margin-right: 15px;
  }

  .profile-info{
  }

  .header-profile{
    display: flex;
  }

  .book-calendar{
    width: 70%;
  }

  hr{
    width: 10px;
  }

}

.container-calendar{
  display: flex;
  .chevron{
    flex-grow: 1;
    font-size: 35px;
    text-decoration: none;
    padding-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
    a:hover{
      text-decoration: none;
    }
  }

  .calendar-profile{
    flex-grow: 10;
  }
  .weekday{
    font-size: 16px;
  }
  .date-month{
    font-size: 14px;
    font-weight: 100;
  }
}
