<h2>Ajouter des types de prestation</h2>

<%= simple_form_for ([@profile, @reason]) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.submit "Enregistrer", class: "btn btn-primary" %>
<% end %>
