.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-flat {
  color: #2A2A2A;
  padding: 8px 24px;
  border-radius: 30px;
  border: 5px solid #fd0054;
  transition: background 0.1s ease;
  font-family: 'Luckiest Guy', cursive;
  margin: 45px;
}

.btn-flat:hover {
  background-color: #fd0054;
  border: 5px solid #fd0054;
}

.btn-primary {
  background-color: #fd0054;
  border-color: #fd0054;
}

.btn-primary:hover {
  background-color: #fd0054;
  border-color: #fd0054;
  color: black;
}

.btn-primary:active {
  background-color: #fd0054;
  border-color: #fd0054;
}

.button-timeslot{
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
  padding: 4px;
  a{
    color: #025ca4;
    text-decoration: none;
  }
  &:hover{
    background: #4557a5;
    color: white;
    a{
      color: white;
      text-decoration: none;
    }
  }
}

#available{
  background: #b8e9ff;
  &:hover{
    background: #4557a5;
    color: white;
  }
}

#booked {
    background: #88f588;

  &:hover{
    background: #00af00;
  }
}

#hey {
  display: block !important;
  margin: 0 auto !important;
}
