.user_form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 4%;
  border-radius: 5%;
  background: white;

  h2{
    text-align: center;
    margin-bottom: 2%;
  }
}

.profile_form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 4%;
  border-radius: 5%;
  background: white;

  h2{
    text-align: center;
    margin-bottom: 2%;
  }
}

.form-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-query {
  flex-grow: 1;
  width: 400px;
}

.form-submit {
background-color: red;
}

.form-banner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
