.user_form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 4%;
  border-radius: 5%;
  background: white;

  h2{
    text-align: center;
    margin-bottom: 2%;
  }
}

.profile_form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 4%;
  border-radius: 5%;
  background: white;

  h2{
    text-align: center;
    margin-bottom: 2%;
  }
}

.form-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-query {
  flex-grow: 1;
  width: 100px;
}

.form-submit {
background-color: red;
transform: translate(-426px, 0px);
}



.form-control {
  width: 700px;
  margin: auto;
}
