.modal_booking{
  border-radius: 10px;
  #header-modal-booking{
    border-radius: 50px;
    background: red;
  }
}

.modal.modal_booking .modal-dialog {
    width:50%;
    margin:0 auto;
    background: red;
}


#booking-modal{
  border-radius: 50px;
}

.modal-content{
  border-radius: 50px;

}
